*{
  margin:0; 
  padding: 0; 
  font-family: Helvetica, sans-serif
}

:root {
  --universal-font: #333; 
}

body {
  background-color: aquamarine;
}

.btn {
  display: inline-block; 
  text-decoration: none;
  padding: 5px 10px; 
  color: var(--universal-font);
  text-transform: uppercase;
  border: 1px solid #fff; 
  background-color: #fff;
  cursor: pointer; 
  outline: none; 
  border-radius: 5px; 
  letter-spacing: .15rem;
  padding: 10px;
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
}

.btn:hover {
  background-color: #efefef;
  border: 1px solid #efefef; 
}

.btn-primary {
  background-color: #fff;
}
/* LOADING SPINNER */ 

.spinner {
  position: relative; 
  top: 30px; 
  left: 50%; 
  transform: translateX(-50%);
  display: inline-block; 
  vertical-align: middle;
  width: 64px; 
  height: 64px; 
  border-radius: 64px;
}

.spinner::before {
  position: absolute; 
  display: inline-block;
  border-radius: 64px; 
  content: "";
  width: 64px;
  height: 64px;
  color: #323b40;
  box-shadow: inset -5px 0 0 5px #323b40;
  clip: rect(0px, 64px, 32px, 0px);
  animation: rotator .5s infinite linear; 
}

@keyframes rotator {
  0% {
    transform: rotate(-180deg);
    box-shadow: inset -5px 0 0 5px #323b40;				
  }
  
  50% {
    box-shadow: inset -1px 0 0 1px #323b40;
    transform: rotate(0deg); 
  }
  
  100% {
    transform: rotate(180deg);
  }
}


/* NAVBAR */ 

.navbar {
  box-sizing: border-box;
  font-size: 1rem;
  height: 100px; 
  background-color: white;
  padding: 20px; 
  color: var(--universal-font); 
  text-transform: uppercase;
  letter-spacing: .15rem;
  box-shadow: 0 0 10px rgba(0,0,0,00.5);
}

.nav-center {
 display: flex; 
 justify-content: space-around;
 align-items: center; 
}

nav ul {
  list-style-type: none; 
}

nav li {
  display: inline-block; 
  margin-left: 20px; 
  padding: 20px; 
}

nav li a {
  text-decoration: none; 
  color: var(--universal-font)
}

nav span.drink-icon {
  font-size: 2rem; 
  color:rgb(9, 226, 154);

  display: inline-block; 
  border-radius: 50%; 
  border: 2px solid rgb(9, 226, 154);
  width: 50px; 
  height: 50px; 
  text-align: center; 
  position: relative;
}

nav .i-element {
  position: absolute; 
  top: 7px; 
  left: 10px; 
}
/* search box */ 
.search-box {
  margin-top: 25px; 
  border-radius: 5px; 
  font-size: 1.2rem; 
  background-color: #fff;
  position: relative; 
  left: 50%; 
  transform: translateX(-50%);
  width: 360px; 
  height: 130px; 
  box-sizing: border-box;
  padding: 15px; 
  box-shadow: 5px 5px 3px rgba(0,0,0,0.3);
  font-size: .9rem; 
  /* centering the form contol in the middle vertically */ 

  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}

.form-control {
 letter-spacing: .15rem;
}

input.search-input {
  border-radius: 5px; 
  box-sizing: border-box;
  display: inline-block; 
  width: 100%; 
  padding: 7px; 
  background-color: aquamarine;
  border: none; 
  outline: none; 
  margin-top: 7px; 
}

input.search-input:focus {
  box-shadow: 0 0 0 1px rgb(9, 226, 154);
}

.search-label {
  display: inline-block; 
  margin-bottom: 10px; 
}

/* logo */ 
.logo {
  width: 90px; 
  display: inline-block; 
}
/* About sectin */ 
.section {
  padding: 20px; 
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
}

.about-section {
  line-height: 1.5rem; 
  /* border: 1px solid blue; */
  letter-spacing: .08rem; 
}

.section-title {
  text-transform: capitalize;
  margin: 40px 0; 
  text-align: center; 
  letter-spacing: .2rem;
}
/* error page */ 

.error-container {
 text-align: center;
 height: 150px; 

 display: flex;
 flex-direction: column; 
 justify-content: space-around;
 align-items: center;
}

/* Cocktails */ 
.cocktail-section {
  width: 80%; 
  margin: 0 auto; 
}

.cocktails-center {
  /* border: 1px solid red;  */
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
}
.cocktail {
  /* border: 1px solid blue; */
  margin-bottom: 30px; 
  background-color: #fff;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.3)
}

.img-container {
 width:270px;  
}

.img-container img {
  width: 100%; 
}

.cocktail-footer {
  padding: 20px; 
  min-height: 120px; 

  display: flex; 
  flex-direction: column;
  justify-content: space-around;
}

.cocktail-footer h3 {
  text-transform: uppercase; 
  font-size: 1.4rem; 
}

.cocktail-footer h4 {
  
  letter-spacing: .15rem;
  font-size: .9rem;
  font-weight: light; 
}

.cocktail-footer p {
  color: #888; 
}

.cocktail-link {
  background-color: rgb(208, 243, 231);
  width: 100px; 
  padding: 7px; 
  box-sizing: border-box;
}
/* Individual cocktail section */ 

.cocktail-section {
  width: 70%; 
}

.drink {
  width: 100%; 
  margin-bottom: 35px;

  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.drink-pic-wrap {
  width: 50%; 
}

.single-drink-image {
  width:100%; 
  border-radius: 5px;
}

.drink-info {
  width: 45%; 
}

.drink-data {

  display: inline-block; 
  padding: 0 5px; 
  border-radius: 5px; 
  background-color:rgb(11, 189, 130);
  margin: 15px 10px 0 0; 
  color: rgb(182, 250, 227);
}
.drink-info p {
  line-height: 1.8rem; 
}

@media (max-width: 800px) {

  .drink {
    display: flex; 
    flex-direction: column;
    align-items: start; 
  }
  .drink-pic-wrap {
    width: 70%; 
  }
}